.event-time-container {
    
}
.state > p {
    text-align: left;
    padding: 0px;
    margin: 0px;
    margin-left: 45px;
    margin-bottom: 28.5px;
    padding-bottom: 5px;
    font-size: 12px; 
    color: rgb(119, 119, 119);
    border-bottom: 2px solid rgb(160, 178, 184);
}