.main-headline{
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: baseline;
    padding-top: 20px;
    border-bottom: 2px solid rgb(160, 178, 184);
    /* background-color: bisque; */
}

.icon-object {
}

.text-object {
    height: fit-content;
    margin-left: 10px;
}

.title {
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    font-weight: bolder;
}